<h2>Clasificación de La Liga</h2>
<table>
  <thead>
    <tr>
      <th>Pos</th><th>Equipo</th><th>Pts</th><th>PJ</th><th>PG</th><th>PE</th><th>PP</th><th>GF</th><th>GC</th><th>DG</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eq of equipos; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        <img [src]="eq.escudo" [alt]="eq.nombre" width="22">
        <a [routerLink]="['/equipo', eq.id]"> {{ eq.nombre }} </a>
      </td>
      <td><strong>{{ eq.pts }}</strong></td>
      <td>{{ eq.pj }}</td>
      <td>{{ eq.g }}</td>
      <td>{{ eq.e }}</td>
      <td>{{ eq.p }}</td>
      <td>{{ eq.gf }}</td>
      <td>{{ eq.gc }}</td>
      <td>{{ eq.gf - eq.gc }}</td>
    </tr>
  </tbody>
 
</table>